<!DOCTYPE html>
<!-- views/student/edit.ejs -->

<html>
	<head>
		<title>Edit student</title>
		<%- include("../partials/head.ejs") %>
	</head>
	
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="col-lg-2 sidebar text-center">

					<%- include("../partials/admin-sidebar.ejs") %>
					<%- include("./search-student.ejs") %>

				</div>
				<div align ="center" class="col-lg-10 panelbg text-center">

					<%- include("./studentBarPartial.ejs") %>

					<h4><%=student.lastName%>, <%=student.firstName%></h4>

					<h1>Edit student</h1>
					<form action="/student/put" method="post">
						<input type="hidden" name="_id" value=<%=student._id%>></input>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group row">
									<label class="col-md-4">Onyen</label>
									<div class="col-md-8">
										<div><%=student.onyen%></div>
										<input type="hidden" class="form-control input-onyen" name="onyen" value="<%=student.onyen%>" required/>
									</div>
								</div>

								<% if (student.csid != student.onyen) {%>
									<div id="hidecsid" class="form-group row">
										<label class="col-md-4">CSID</label>
										<div class="col-md-8">
											<div><%=student.csid%></div>
											<input type="hidden" class="form-control input-csid" name="csid" value="<%=student.csid%>" required/>
										</div>
									</div>
								<%}%>

								<div class="form-group row">
									<label class="col-md-4">Email *</label>
									<div class="col-md-8">
										<input type="email" class="form-control input-email" name="email" value="<%=student.email%>" required/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputFirstname" class="col-md-4">First name *</label>
									<div class="col-md-8">
										<input type="text" class="form-control input-first-name" id="inputFirstname" name="firstName" value="<%=student.firstName%>" required/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputLastname" class="col-md-4">Last name *</label>
									<div class="col-md-8">
										<input type="text" class="form-control input-last-name" id="inputLastname" name="lastName" value="<%=student.lastName%>" required/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputPronouns" class="col-md-4">Pronouns</label>
									<div class="col-md-8">
										<select name="pronouns" class="form-control input-pronouns" id="inputPronouns">
											<% for(var i=0; i<pronouns.length; i++) { %>
												<option value="<%= pronouns[i]%>" <% if(student.pronouns === pronouns[i]) { %> selected <% } %>><%=pronouns[i]%></option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label class="col-md-4">PID</label>
									<div class="col-md-8">
										<div><%=student.pid%></div>
										<input type="hidden" class="form-control input-pid" name="pid" value="<%=student.pid%>" required/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputStatus" class="col-md-4">Status</label>
									<div class="col-md-8">
										<select name="status" class="form-control input-status" id="inputStatus">
											<% for(var i=0; i<status.length; i++) { %>
												<option value=<%= status[i]%> <% if(student.status === status[i]) { %> selected <% } %>><%=status[i]%></option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputAltname" class="col-md-4">Alternative name</label>
									<div class="col-md-8">
										<input type="text" class="form-control input-alternative-name" id="inputAltname" name="alternativeName" <% if(student.alternativeName != null) { %> value="<%=student.alternativeName%>" <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputGender" class="col-md-4">Gender</label>
									<div class="col-md-8">
										<select name="gender" class="form-control input-gender" id="inputGender">
											<% for(var i=0; i<genders.length; i++) { %>
												<option value=<%= genders[i]%> <% if(student.gender === genders[i]) { %> selected <% } %>><%=genders[i]%></option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputEthnicity" class="col-md-4">Ethnicity</label>
									<div class="col-md-8">
										<select name="ethnicity" class="form-control input-ethnicity" id="inputEthnicity">
											<% for(var i=0; i<ethnicities.length; i++) { %>
												<option value=<%= ethnicities[i]%> <% if(student.ethnicity === ethnicities[i]) { %> selected <% } %>><%=ethnicities[i]%></option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputResidency" class="col-md-4">Residency</label>
									<div class="col-md-8">
										<select name="residency" class="form-control input-residency" id="inputResidency">
											<% for(var i=0; i<residencies.length; i++) { %>
												<option value=<%= residencies[i]%> <% if(student.residency === residencies[i]) { %> selected <% } %>><%=residencies[i]%></option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputEnteringStatus" class="col-md-4">Entering status</label>
									<div class="col-md-8">
										<input type="text" class="form-control input-entering-status" id="inputEnteringStatus" name="enteringStatus" <% if(student.enteringStatus != null) { %> value="<%=student.enteringStatus%>" <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputResearchArea" class="col-md-4">Research area</label>
									<div class="col-md-8">
										<input type="text" class="form-control input-research-area" id="inputResearchArea" name="researchArea" <% if(student.researchArea != null) { %> value="<%=student.researchArea%>" <% } %>/>
									</div>
								</div>

							</div>
							<div class="col-md-4">

								<div class="form-group row">
									<label for="inputLeaveExtension" class="col-md-4">Leave extension</label>
									<div class="col-md-8">
										<input type="text" class="form-control input-leave-extension" id="inputLeaveExtension" name="leaveExtension" <% if(student.leaveExtension != null) { %> value="<%=student.leaveExtension%>" <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputIntendedDegree" class="col-md-4">Intended degree</label>
									<div class="col-md-8">
										<select name="intendedDegree" class="form-control input-intended-degree" id="inputIntendedDegree">
											<% for(var i=0; i<degrees.length; i++) { %>
												<option value=<%= degrees[i]%> <% if(student.intenededDegree === degrees[i]) { %> selected <% } %>><%=degrees[i]%></option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputHoursCompleted" class="col-md-4">Hours completed</label>
									<div class="col-md-8">
										<input type="number" class="form-control input-hours-completed" id="inputHoursCompleted" name="hoursCompleted" <% if(student.hoursCompleted != null) { %> value=<%=student.hoursCompleted%> <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputCitizenship" class="col-md-4">US Citizenship</label>
									<div class="col-md-8">
										<input type="checkbox" class="form-check-input input-citizenship" id="inputCitizenship" name="citizenship" value="true" <% if(student.citizenship === true) { %> checked <% } %>/>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputFundingEligibility" class="col-md-4">Funding eligibility</label>
									<div class="col-md-8">
										<select name="fundingEligibility" class="form-control input-funding-eligibility" id="inputFundingEligibility">
											<% for(var i=0;i<eligibility.length; i++) { %>
												<option value="<%= eligibility[i]%>" <% if(student.fundingEligibility === eligibility[i]) { %> selected <% } %>><%=eligibility[i]%></option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputSemestersOnLeave" class="col-md-4">Semesters on Leave</label>
									<div class="col-md-8">
										<input type="number" class="form-control input-semesters-on-leave" id="inputSemestersOnLeave" name="semestersOnLeave" value=<%=student.semestersOnLeave %> />
									</div>
								</div>

								<div class="form-group row">
									<label for="inputBackgroundApproved" class="col-md-4">Background approved</label>
									<div class="col-md-8">
										<input type="date" class="form-control input-background-approved" id="inputBackgroundApproved" name="backgroundApproved" value=<%=student.backgroundApproved%> />
									</div>
								</div>

								<div class="form-group row">
									<label for="inputMastersAwarded" class="col-md-4">Masters awarded</label>
									<div class="col-md-8">
										<input type="date" class="form-control input-masters-awarded" id="inputMastersAwarded" name="mastersAwarded" value=<%=student.mastersAwarded%> />
									</div>
								</div>

								<div class="form-group row">
									<label for="inputPrpPassed" class="col-md-4">prp passed</label>
									<div class="col-md-8">
										<input type="date" class="form-control input-prp-passed" id="inputPrpPassed" name="prpPassed" value=<%=student.prpPassed%> />
									</div>
								</div>

								<div class="form-group row">
									<label for="inputTechnicalWritingApproved" class="col-md-4">Technical writing approved</label>
									<div class="col-md-8">
										<input type="date" class="form-control input-technical-writing-approved" id="inputTechnicalWritingApproved" name="technicalWritingApproved" value=<%=student.technicalWritingApproved%> />
									</div>
								</div>

								<div class="form-group row">
									<label for="inputBackgroundPrepWorksheetApproved" class="col-md-4">Background prep worksheet approved</label>
									<div class="col-md-8">
										<input type="date" class="form-control input-background-prep-worksheet-approved" id="inputBackgroundPrepWorksheetApproved" name="backgroundPrepWorksheetApproved" value=<%=student.backgroundPrepWorksheetApproved%> />
									</div>
								</div>

								<div class="form-group row">
									<label for="inputProgramOfStudyApproved" class="col-md-4">Program of study approved</label>
									<div class="col-md-8">
										<input type="date" class="form-control input-program-of-study-approved" id="inputProgramOfStudyApproved" name="programOfStudyApproved" value=<%=student.programOfStudyApproved%> />
									</div>
								</div>

							</div>
							<div class="col-md-4">
								

								<div class="form-group row">
									<label for="inputResearchPlanningMeeting" class="col-md-4">Research planning meeting</label>
									<div class="col-md-8">
										<input type="date" class="form-control input-research-planning-meeting" id="inputResearchPlanningMeeting" name="researchPlanningMeeting" value=<%=student.researchPlanningMeeting%> />
									</div>
								</div>

								<div class="form-group row">
									<label for="inputprogramProductRequirement" class="col-md-4">Program product requirement</label>
									<div class="col-md-8">
										<input type="date" class="form-control input-program-product-requirement" id="inputProgramProductRequirement" name="programProductRequirement" value=<%=student.programProductRequirement%> />
									</div>
								</div>

								<div class="form-group row">
									<label for="inputCommitteeCompApproved" class="col-md-4">Committee comp approved</label>
									<div class="col-md-8">
										<input type="date" class="form-control input-committee-comp-approved" id="inputCommitteeCompApproved" name="committeeCompApproved" value=<%=student.committeeCompApproved%> />
									</div>
								</div>

								<div class="form-group row">
									<label for="inputPhdProposalApproved" class="col-md-4">phD proposal approved</label>
									<div class="col-md-8">
										<input type="date" class="form-control input-phd-proposal-approved" id="inputPhdProposalApproved" name="phdProposalApproved" value=<%=student.phdProposalApproved%> />
									</div>
								</div>

								<div class="form-group row">
									<label for="inputOralExamPassed" class="col-md-4">Oral exam passed</label>
									<div class="col-md-8">
										<input type="date" class="form-control input-oral-exam-passed" id="inputOralExamPassed" name="oralExamPassed" value=<%=student.oralExamPassed%> />
									</div>
								</div>

								<div class="form-group row">
									<label for="inputDissertationDefencePassed" class="col-md-4">Dissertation defence passed</label>
									<div class="col-md-8">
										<input type="date" class="form-control input-dissertation-defence-passed" id="inputDissertationDefencePassed" name="dissertationDefencePassed" value=<%=student.dissertationDefencePassed%> />
									</div>	
								</div>

								<div class="form-group row">
									<label for="inputDissertationSubmitted" class="col-md-4">Dissertation submitted</label>
									<div class="col-md-8">
										<input type="date" class="form-control input-dissertation-submitted" id="inputDissertationSubmitted" name="dissertationSubmitted" value=<%=student.dissertationSubmitted%> />
									</div>
								</div>

								<div class="form-group row">
									<label for="inputPHDAwarded" class="col-md-4">PhD. Awarded</label>
									<div class="col-md-8">
										<input type="date" class="form-control input-phd-awarded" id="inputPHDAwarded" name="phdAwarded" value=<%=student.phdAwarded%> />
									</div>
								</div>

								<div class="form-group row">
									<label for="inputSemesterStarted" class="col-md-4">Semester started</label>
									<div class="col-md-8">
										<select name="semesterStarted" class="form-control input-semester-started" id="inputSemesterStarted">
											<option value=""></option>
											<% for(var i=0; i<semesters.length; i++) { %>
												<option value=<%= semesters[i]._id%> <% if(student.semesterStarted != null && student.semesterStarted._id.equals(semesters[i]._id)) { %> selected <% } %>><%=semesters[i].season%> <%=semesters[i].year%></option>
											<% } %>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<label for="inputAdvisor" class="col-md-4">Advisor *</label>
									<div class="col-md-8">
										<select name="advisor" class="form-control input-advisor" id="inputAdvisor" required>
											<option value=""></option>
											<% for(var i=0; i<faculty.length; i++) { %>
												<option value=<%= faculty[i]._id%> <% if(student.advisor != null && student.advisor._id.equals(faculty[i]._id)) { %> selected <% } %>><%=faculty[i].lastName%>, <%=faculty[i].firstName%></option>
											<% } %>
										</select>
									</div>
								</div>

								<!-- no courseHistory field, have a dedicated page for adding courseHistory to students -->

							</div>
						</div>

					<div class="col-md-8 offset-md-2">
						<button type="submit" class="btn btn-success">Update</button>
					</div>
					</form>
					<div class="space"></div>
					<form action="/student/delete/<%=student._id%>" method="post">
						<button type="submit" class="btn btn-danger" onclick="return confirm('Do you really want to delete this?');">Delete</button>
					</form>
				</div>
			</div>
		</div>
	</body>

	<script type="text/javascript">
		let handleChange = ()=>{
			let today = new Date();
			let semestersOnLeave = document.getElementById("inputSemestersOnLeave").value;
			let semesterTemp = document.getElementById("inputSemesterStarted");
			let semesterStarted = semesterTemp.options[semesterTemp.selectedIndex].text;
			semesterStarted = semesterStarted.split(" ");
			if(semestersOnLeave != null && semesterStarted != null) {
				let currentMonth = today.getMonth()+1;
				let currentYear = today.getFullYear();
				let activeSemesters = 0;
				console.log(currentMonth + " "+ currentYear+ " "+ semesterStarted)
				if(currentMonth < 8){
					//its currently spring
					activeSemesters = (currentYear - semesterStarted[1])*2 - semestersOnLeave;
					if(semesterStarted[0] == "FA"){
						activeSemesters--;
					}
				}
				else{
					//its currently fall
					activeSemesters = (currentYear - semesterStarted[1])*2 - semestersOnLeave;
					if(semesterStarted[0] == "SP"){
						activeSemesters++;
					}
				}
				if(activeSemesters > 10){
					document.getElementById("inputFundingEligibility").value = 'NOT GUARANTEED';
				}
			}
		}

		document.getElementById("inputSemestersOnLeave").addEventListener("change", function(){ handleChange(); }, false);
		document.getElementById("inputSemesterStarted").addEventListener("change", function(){ handleChange(); }, false);
	</script>
</html>