<!DOCTYPE html>
<!-- views/report/progressReport.ejs -->


<html>
	<head>
		<title>Reports</title>
		<%- include("../partials/head.ejs") %>
	</head>
	
	<body>
		<div class="container-fluid h-100">
			<div class="row h-100">
				<div class="col-lg-2 sidebar text-center">

					<%- include("../partials/admin-sidebar.ejs") %>

				</div>
				<div align ="center" class="col-lg-10 panelbg text-center">

					<h3 class="space">Progress Report</h3>
					
					<% if(report.length>0) { %>
						<table align="center" border="1" class="table display-table table-striped table-bordered progress-report-table">
							<thead>
								<tr>
									<th scope="col" class="col-progress-report-last">Last name</th>
									<th scope="col" class="col-progress-report-first">First Name</th>
									<th scope="col" class="col-progress-report-advisor">Advisor</th>
                                    <th scope="col" class="col-progress-report-prp">PRP Passed CS09</th>
                                    <th scope="col" class="col-progress-report-notes">Technical writing approved CS08</th>
                                    <th scope="col" class="col-progress-report-notes">Background Prep wksht approved</th>
                                    <th scope="col" class="col-progress-report-notes">Research discussion 3 Faculty CS12</th>
                                    <th scope="col" class="col-progress-report-notes">Prog prod Requirement CS13</th>
                                    <th scope="col" class="col-progress-report-notes">Program of study approved CS06</th>
                                    <th scope="col" class="col-progress-report-notes">Committee Comp Approved (COMM form)</th>
                                    <th scope="col" class="col-progress-report-notes">PhD Proposal Approved (COMM form)</th>
                                    <th scope="col" class="col-progress-report-notes">Oral Exam passed (DER form)</th>
                                    <th scope="col" class="col-progress-report-notes">Dis defense passed (DER form)</th>
                                    <th scope="col" class="col-progress-report-notes">Dissertation submitted</th>
                                    <th scope="col" class="col-progress-report-notes">Notes</th>
								</tr>
							</thead>
							<tbody>

								<style> .red {   background:red; } </style>

								<% for(var i=0; i<report.length; i++) { %>
									<tr>
										<td><%= report[i].lastName%></td>
										<td><%= report[i].firstName%></td>
										<td>
										<% if(report[i].advisor != null){ %>
										<%= report[i].advisor.lastName%>, <%= report[i].advisor.firstName%>
										<% } %>
										</td>
										<% console.log(report[i].activeSemesters + " "+ report[i].prpPassed) %>
                                        <td <% if(report[i].activeSemesters > 8 && report[i].prpPassed == undefined) { %> class="red" <% } %> ><%= report[i].prpPassed%></td>
                                        <td><%= report[i].technicalWritingApproved%></td>
                                        <td><%= report[i].backgroundPrepWorksheetApproved%></td>
                                        <td><%= report[i].researchPlanningMeeting%></td>
                                        <td><%= report[i].programProductRequirement%></td>
                                        <td><%= report[i].programOfStudyApproved%></td>
                                        <td><%= report[i].committeeCompApproved%></td>
                                        <td><%= report[i].phdProposalApproved%></td>
                                        <td><%= report[i].oralExamPassed%></td>
                                        <td><%= report[i].dissertationDefencePassed%></td>
                                        <td><%= report[i].dissertationSubmitted%></td>
                                        <td>
                                        <% for(var j=0; j< report[i].notes.length; j++) { %>
                                        <%= report[i].notes[j].note%> <br/>
                                        <% } %>
                                        </td>
									</tr>
								<% } %>
							</tbody>
						</table>
					<% } else { %>
						<div>No students found.</div>
					<% } %>

				</div>
			</div>
		</div>
		<%- include("../partials/bootstrapScripts.ejs") %>
	</body>

	<script type="text/javascript"> </script>
	
</html>